<table class=" table table-dark">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Age</td>
      <td>Action</td>
    </tr>
    
    <tr *ngFor = "let data of teacher">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.age}}</td>
      <td><button (click)="deleteTeacher(data.id)" class="btn btn-danger">Delete</button></td>
     <td><a routerLink="/editteacher/{{data.id}}" class="btn btn-info">Update</a></td>
    </tr>
    
    </table>
    <!-- <button (click)="postNewStudents()"> addnews </button> -->